spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations:
            - classpath:config/telemetry/aggregator
            - classpath:config/telemetry/analyzer
            - classpath:config/telemetry/collector
            - classpath:config/commerce/shoppingstore
            - classpath:config/commerce/shoppingcart
            - classpath:config/commerce/warehouse
server:
  port: 8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/